.App {
  gap: 12px;
  margin: 0 auto;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.App section{
  width: 330px;
}
.App section .counter{
  width: 330px;
  height: 27px;
}